html {
  position: relative;
  min-height: 100%;
}
body {
  font: 400 1em/1.5 "Neuton";
  background: #090d00;
  color: rgba(255, 255, 255, 0.25);
  text-align: center;
  margin: 0 0 50px;
  padding: 25px;
}

.animated-logo {
  margin: 10% 25% 0% 25%;
}
.animated-logo p span {
  font: 700 4em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: .25em 0 .325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  /* Clip Background Image */
  background: url(https://i.imgur.com/9nKeCKC.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  /* Animate Background Image */
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

/* Animate Background Image */
@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.bottom-bar {
  position: absolute;
  left: 0;
  bottom: 20px;
  height: 50px;
  width: 100%;
}

/* helpers/accessibility.css */

.invisible {
  left: -999px;
  overflow: hidden;
  position: absolute;
  top: -999px;
}

/* helpers/align.css */

.align {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* modules/anchor.css */

a {
  outline: 0;
}

/* modules/icon.css */

.icons {
  display: none;
}

.icon {
  display: inline-block;
  fill: #97adc6;
  font-size: 16px;
  font-size: 1rem;
  height: 1em;
  vertical-align: middle;
  width: 1em;
}

.icon--2x {
  font-size: 32px;
  font-size: 2rem;
}

ul{
  list-style-type: none;

}
ul li {
  display: inline;
  font-size: 200%;
  padding:2vw;
  
}
i{
  color:white;
  transition: all .2s ease-in-out;
}

#telegram:hover{
  
  color: #0088cc;
  border-radius: 49%;
  background-color: white;
  transform: scale(1.5);
}

#gitter:hover{
  
  color: #f4015e;

  transform: scale(1.5);
}

#github:hover{
  
  color: black;
  border-radius: 50%;
  background-color: white;
  transform: scale(1.5);
}

#biz:hover{
  
  color: white;
  transform: scale(1.5);
}
