body {
  font: 400 1em/1.5 "Neuton";
  background: #090d00;
  color: rgba(255, 255, 255, 0.25);
  text-align: center;
  margin: 0;
}

.animated-logo {
  margin: 10% 25% 0% 25%;
}
.animated-logo p span {
  font: 700 4em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: .25em 0 .325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  /* Clip Background Image */
  background: url(https://i.imgur.com/9nKeCKC.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  /* Animate Background Image */
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

/* Animate Background Image */
@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.bottom-bar {
  margin-top: 20%;
  font-family: 'Courier New', Courier, monospace;
}

.bottom-bar ul {
  margin: 10% 25% 0 25%;  
}
.bottom-bar ul li {
  border-left: 2px solid white;
  border-right: 2px solid white;
  display: inline-block;
  margin: 5px;
}

.bottom-bar ul li a{
  margin: 5px;
  color: rgb(185, 175, 175);
  text-decoration: none;
}

.bottom-bar ul li a:hover{
  color: rgb(7, 6, 6);
  background: white;
  transition: all 0.3s ease;
}